<div class="card prices" style="width: 18rem;" *ngFor='let tempVar of plans'> 
    
    <div class="card-body" >
      <h5 class="card-title card1">{{tempVar.name}}</h5>
      <h3 class = 'card-price card1'>{{tempVar.price}}<span class = 'period'>/month</span></h3>
      <hr>
      <p class="card-text card2">{{tempVar.users}}</p>
      <p class="card-text card2">{{tempVar.storage}}</p>
      <p class="card-text card2">{{tempVar.projects}}</p>
      <p class="card-text card2">{{tempVar.access}}</p>
      <p class="card-text card2" [ngClass] = "{greyColor: tempVar.last4}">{{tempVar.privateProj}}</p>
      <p class="card-text card2" [ngClass] = "{greyColor: tempVar.last4}">{{tempVar.phoneSupp}}</p>
      <p class="card-text card2" [ngClass] = "{greyColor: tempVar.last4}">{{tempVar.domain}}</p>
      <p class="card-text card2" [ngClass] = "{greyColor : tempVar.last4,greyColor:tempVar.last1}">{{tempVar.status}}</p>
      <a href="#" class="btn btn-primary">Subscribe</a>
    </div>
  </div>